{"openapi":"3.1.0","info":{"title":"API soprano","description":"Expose les services Soprano.","contact":{"name":"Soprano produit MOE","email":"SopranoProjetMOE@harmonie-mutuelle.fr"},"version":"2026.11.4-SNAPSHOT"},"servers":[{"url":"http://soprano-produit.sdw-int1.hm.dm.ad/soprano-produit-api"}],"security":[{"bearerAuth":[]}],"paths":{"/v3/referentiels-objectifs/{idReferentiel}":{"get":{"tags":["Gestion des données"],"operationId":"getById","parameters":[{"name":"idReferentiel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifDTO_NextVersion"}}}}}},"put":{"tags":["Gestion des données"],"operationId":"update","parameters":[{"name":"idReferentiel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifRequestDTO_NextVersion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifDTO_NextVersion"}}}}}}},"/v3/objectifs/{idObjectif}":{"get":{"tags":["Gestion des objectifs commerciaux"],"operationId":"getById_1","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectifDTO_NextVersion"}}}}}},"put":{"tags":["Gestion des objectifs commerciaux"],"operationId":"update_1","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectifRequestDTO_NextVersion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectifDTO_NextVersion"}}}}}}},"/v2/referentiels-pe/{idRefPreEngagement}":{"put":{"tags":["Gestion des données"],"operationId":"updateReferentielPreEngagement","parameters":[{"name":"idRefPreEngagement","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferentielPreEngagementDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v2/referentiels-offre/valeur-param-offre/{idValeurParamOffre}":{"put":{"tags":["referentiel-offre-controller"],"operationId":"updateValeurParamOffre","parameters":[{"name":"idValeurParamOffre","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferentielValeurOffreDTO"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["referentiel-offre-controller"],"operationId":"deleteValeurParamOffre","parameters":[{"name":"idValeurParamOffre","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/referentiels-objectifs/{idReferentiel}":{"get":{"tags":["Gestion des données"],"operationId":"getByIdOld","parameters":[{"name":"idReferentiel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifDTO_OldVersion"}}}}},"deprecated":true},"put":{"tags":["Gestion des données"],"operationId":"updateOld","parameters":[{"name":"idReferentiel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifRequestDTO_OldVersion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifDTO_OldVersion"}}}}},"deprecated":true},"delete":{"tags":["Gestion des données"],"operationId":"delete","parameters":[{"name":"idReferentiel","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/offres/{codeOffre}/parametrage-technique":{"put":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"description":"Mise à jour des paramétrages technique d'une offre via son codeOffre","operationId":"updateParametrageTechnique","parameters":[{"name":"codeOffre","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffreLightParametrageTechniqueDTO"}}},"required":true},"responses":{"200":{"description":"Les paramètres techniques ont été mis à jour"},"404":{"description":"Il n'y a pas d'offre correspondant à ce code","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/offres/{codeOffre}/modele-distributeur":{"put":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"operationId":"updateModeleDistributeur","parameters":[{"name":"codeOffre","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffreDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v2/offres/{codeOffre}/modalite-souscription":{"put":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"operationId":"updateModaliteSouscription","parameters":[{"name":"codeOffre","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffreDTO_NextVersion"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v2/offres/{codeOffre}/modalite-distribution":{"put":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"operationId":"updateModaliteDistribution","parameters":[{"name":"codeOffre","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffreDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v2/offres/{codeOffre}/description":{"put":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"operationId":"updateDescriptionOffre","parameters":[{"name":"codeOffre","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffreDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v2/offres/tarifer/files/{idImportInfo}":{"put":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"description":"Met à jour le statut d'un fichier d'import à partir de son id","operationId":"updateFichierImport","parameters":[{"name":"idImportInfo","in":"path","description":"Id du fichier d'import à supprimer","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportInfoDTO"}}},"required":true},"responses":{"200":{"description":"Le fichier d'import a bien été mis à jour","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImportInfoDTO"}}}},"204":{"description":"No Content","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImportInfoDTO"}}}}}},"delete":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"description":"Supprime un fichier d'import au statut 'A_FAIRE' à partir de son id","operationId":"supprimerFichierImport","parameters":[{"name":"idImportInfo","in":"path","description":"Id du fichier d'import à supprimer","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"204":{"description":"Le fichier d'import a bien été supprimé"},"400":{"description":"Le fichier d'import n'est pas au bon statut","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/offres-pe/{idOffrePreEngagement}":{"put":{"tags":["offre-pre-engagement-controller"],"operationId":"updateOffrePreEngagement","parameters":[{"name":"idOffrePreEngagement","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffrePreEngagementDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v2/offres-catalogue/{idOffreCatalogue}":{"get":{"tags":["offre-catalogue-controller"],"description":"Récupération d'une offre du catalogue grâce à son id technique","operationId":"findOffreCatalogueById","parameters":[{"name":"idOffreCatalogue","in":"path","description":"id de l'offre","required":true,"schema":{"type":"integer","format":"int64"},"example":123}],"responses":{"200":{"description":"L'offre a été récupérée","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OffreCatalogueAdministrationDTO"}}}},"404":{"description":"Il n'y a pas d'offre correspondant à cet identifiant","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"put":{"tags":["offre-catalogue-controller"],"description":"Modification d'une offre du catalogue grâce à son id technique","operationId":"updateOffreCatalogue","parameters":[{"name":"idOffreCatalogue","in":"path","description":"id de l'offre","required":true,"schema":{"type":"integer","format":"int64"},"example":123}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffreCatalogueAdministrationDTO"}}},"required":true},"responses":{"204":{"description":"L'offre a bien été actualisée"},"404":{"description":"Il n'y a pas d'offre correspondant à cet identifiant","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"delete":{"tags":["offre-catalogue-controller"],"description":"Suppression d'une offre du catalogue grâce à son id technique","operationId":"deleteOffreCatalogue","parameters":[{"name":"idOffreCatalogue","in":"path","description":"id de l'offre","required":true,"schema":{"type":"integer","format":"int64"},"example":123}],"responses":{"204":{"description":"L'offre a bien été supprimée"},"404":{"description":"Il n'y a pas d'offre correspondant à cet identifiant","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/offre-pe/document/{idDocumentPreEngagement}":{"put":{"tags":["document-pre-engagement-controller"],"operationId":"updateDocument","parameters":[{"name":"idDocumentPreEngagement","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["document-pre-engagement-controller"],"operationId":"deleteDocument","parameters":[{"name":"idDocumentPreEngagement","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/v2/objectifs/{idObjectif}":{"get":{"tags":["Gestion des objectifs commerciaux"],"operationId":"getByIdOld_1","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectifDTO_OldVersion"}}}}},"deprecated":true},"put":{"tags":["Gestion des objectifs commerciaux"],"operationId":"updateOld_1","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectifRequestDTO_OldVersion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectifDTO_OldVersion"}}}}}},"delete":{"tags":["Gestion des objectifs commerciaux"],"operationId":"delete_1","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}}}},"/v2/modalite-paiement/{idRefModalitePaiement}":{"put":{"tags":["modalite-paiement-param-controller"],"operationId":"updateRefModalite","parameters":[{"name":"idRefModalitePaiement","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefModalitePaiementDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v2/formalites-medicales/types-fmos/{id}":{"put":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Modifie le type de FMO","operationId":"modifierTypeFmo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TypeFmoDTO"}}},"required":true},"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"delete":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Supprime logiquement le type de FMO","operationId":"suppressionLogiqueTypeFmo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/template-qm/{id}":{"get":{"tags":["Récupération des données liées aux Template QM Formed"],"description":"Récupérer un template QM par son Id","operationId":"findById","parameters":[{"name":"id","in":"path","description":"Id du template QM recherché","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Template QM récupéré","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateQMDTO"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}},"put":{"tags":["Récupération des données liées aux Template QM Formed"],"description":"Modifier le Template Qm","operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateQMDTO"}}},"required":true},"responses":{"200":{"description":"Template QM modifié","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateQMDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}},"delete":{"tags":["Récupération des données liées aux Template QM Formed"],"description":"Supprimer un template QM en statut Brouillon","operationId":"deleteOnlyBrouillon","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Template QM brouillon supprimé"},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/formalites-medicales/produit-grilles-medicales/{id}/combinaisons":{"get":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Récupère les combinaisons d'une grille","operationId":"getCombinaisons","parameters":[{"name":"id","in":"path","description":"ID de la grille dont il faut récupérer les combinaisons","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"put":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Ajouter des combinaisons à une grille","operationId":"setCombinaisons","parameters":[{"name":"id","in":"path","description":"ID de la grille à laquelle il faut ajouter des combinaisons","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Liste des combinaisons à ajouter","items":{"$ref":"#/components/schemas/CombinaisonRequestDTO"},"uniqueItems":true}}},"required":true},"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"delete":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Supprime les combinaisons d'une grille","operationId":"deleteCombinaisons","parameters":[{"name":"id","in":"path","description":"ID de la grille dont il faut supprimer les combinaisons","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"idCritere","in":"query","description":"Code à vérifier pour la suppression","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/fmos/{id}":{"put":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Modifie la FMO","operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefFmoDTO"}}},"required":true},"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}},"delete":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Supprime logiquement la FMO","operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/formalites-medicales/criteres/{id}":{"put":{"tags":["Récupération des données liées aux critères des formalités médicale"],"description":"Modifie le critere","operationId":"modifierCritere","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefCritereDTO"}}},"required":true},"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}},"delete":{"tags":["Récupération des données liées aux critères des formalités médicale"],"description":"Supprime logiquement le critere","operationId":"suppressionLogiqueCritere","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/documents/{idDocument}":{"get":{"tags":["Récupération des données liées aux documents"],"description":"Récupération d'un document par son id technique","operationId":"getDocument","parameters":[{"name":"idDocument","in":"path","description":"Identifiant du document","required":true,"schema":{"type":"integer","format":"int64"},"example":42}],"responses":{"200":{"description":"Le document a été trouvé et retourné","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}},"404":{"description":"Il n'y a pas de document correspondant à cet id","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"put":{"tags":["Récupération des données liées aux documents"],"description":"Modification d'un document existant (on actualise l'idHmDrive ou les documents supplémentaires dans des appels séparés)","operationId":"updateDocument_1","parameters":[{"name":"idDocument","in":"path","description":"ID du document à actualiser","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}},"required":true},"responses":{"200":{"description":"Le document est bien actualisé"},"404":{"description":"Le document n'a pas pu être trouvé"},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"204":{"description":"No Content"}}},"post":{"tags":["Récupération des données liées aux documents"],"description":"Effectue l'injection de contenu d'un document dans HMDrive, et actualise la référence pour l'idDocument donné","operationId":"createHmDriveContentForDocument","parameters":[{"name":"idDocument","in":"path","description":"ID du document","required":true,"schema":{"type":"integer","format":"int64"},"example":505}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"fichier":{"type":"string","format":"binary","description":"Fichier à injecter"}}}}},"required":true},"responses":{"200":{"description":"L'injection s'est bien déroulée et la table document est actualisé avec la référence retournée par HMDrive","content":{"application/json":{"schema":{"type":"string"}}}},"409":{"description":"Injection impossible pour un document avec le mode génération EDITIQUE","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Il n'y a pas de document correspondant à cet id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"delete":{"tags":["Récupération des données liées aux documents"],"description":"Suppression d'un document par son id technique","operationId":"deleteDocument_1","parameters":[{"name":"idDocument","in":"path","description":"Identifiant du document","required":true,"schema":{"type":"integer","format":"int64"},"example":42}],"responses":{"204":{"description":"Suppression ok"},"404":{"description":"Il n'y a pas de document correspondant à cet id","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/documents/{idDocument}/documents-supplementaires/{idDocumentSupplementaire}":{"get":{"tags":["Récupération des données liées aux documents"],"description":"récupèration d'un document supplémentaire identifié par son id (et celui du document parent)","operationId":"getDocumentSupplementaire","parameters":[{"name":"idDocument","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"idDocumentSupplementaire","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"le document supplémentaire est trouvé et restitué sans erreur","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentSupplementaireDTO"}}}},"404":{"description":"Il n'y a pas de document ou de document supplémentaire correspondant aux ids fournis","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"put":{"tags":["Récupération des données liées aux documents"],"description":"Actualise les informations d'un document supplémentaire identifié par son id (et celui du document parent)","operationId":"updateDocumentSupplementaire","parameters":[{"name":"idDocument","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"idDocumentSupplementaire","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentSupplementaireDTO"}}},"required":true},"responses":{"200":{"description":"le document supplémentaire a bien été actualisé"},"404":{"description":"Il n'y a pas de document ou de document supplémentaire correspondant aux ids fournis","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"204":{"description":"No Content"}}},"post":{"tags":["Récupération des données liées aux documents"],"description":"Effectue l'injection de contenu d'un document dans HMDrive, et actualise la référence pour l'idDocument donné","operationId":"createHmDriveContentForDocumentSupplementaire","parameters":[{"name":"idDocument","in":"path","description":"ID du document","required":true,"schema":{"type":"integer","format":"int64"},"example":505},{"name":"idDocumentSupplementaire","in":"path","description":"ID du document supplémentaire","required":true,"schema":{"type":"integer","format":"int64"},"example":12}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"fichier":{"type":"string","format":"binary","description":"Fichier à injecter"}}}}},"required":true},"responses":{"200":{"description":"L'injection s'est bien déroulée et la table document est actualisé avec la référence retournée par HMDrive","content":{"application/json":{"schema":{"type":"string"}}}},"404":{"description":"Il n'y a pas de document correspondant à cet id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"delete":{"tags":["Récupération des données liées aux documents"],"description":"Suppression d'un document par son id technique","operationId":"deleteDocumentSupplementaire","parameters":[{"name":"idDocument","in":"path","description":"Identifiant du document","required":true,"schema":{"type":"integer","format":"int64"},"example":42},{"name":"idDocumentSupplementaire","in":"path","description":"Identifiant du document supplementaire","required":true,"schema":{"type":"integer","format":"int64"},"example":4}],"responses":{"204":{"description":"Suppression ok"},"404":{"description":"Il n'y a pas de document correspondant à cet id","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/config-documents/{configDocumentId}":{"get":{"tags":["config-document-controller"],"description":"Récupération d'un document de configuration","operationId":"getConfigDocument","parameters":[{"name":"configDocumentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"La configuration du document a été récupérée","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConfigDocumentDTO"}}}},"404":{"description":"Il n'y a pas de configDocument correspondant à cet identifiant","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"put":{"tags":["config-document-controller"],"description":"Mise à jour d'un document de configuration","operationId":"updateConfigDocument","parameters":[{"name":"configDocumentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigDocumentDTO"}}},"required":true},"responses":{"204":{"description":"Le document a été mis à jour"},"400":{"description":"Une donnée est manquante","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Il n'y a pas de configDocument correspondant à cet identifiant","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"delete":{"tags":["config-document-controller"],"description":"Suppression de l'un des paramétrages d'un document sur une offre","operationId":"deleteConfigDocument","parameters":[{"name":"configDocumentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Le paramétrage a été supprimé"},"404":{"description":"Il n'y a pas de configDocument correspondant à cet identifiant","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/catalogue-tarificateurs/{code}":{"get":{"tags":["catalogue-tarificateur-controller"],"description":"Récupération d'un tarificateur du catalogue grâce à son code","operationId":"getCatalogueTarificateursByCode","parameters":[{"name":"code","in":"path","description":"Code du tarificateur","required":true,"schema":{"type":"string"},"example":"CAMELEON"}],"responses":{"200":{"description":"Le tarificateur a été récupéré","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogueTarificateursDTO"}}}},"204":{"description":"Le contenu est vide","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogueTarificateursDTO"}}}},"404":{"description":"Il n'y a pas de tarificateurs correspondant à ce code","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"put":{"tags":["catalogue-tarificateur-controller"],"description":"Mise à jour d'un tarificateur du catalogue grâce à son code","operationId":"updateCatalogueTarificateurs","parameters":[{"name":"code","in":"path","description":"Code du tarificateur à modifier","required":true,"schema":{"type":"string"},"example":"CAMELEON"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueTarificateursDTO"}}},"required":true},"responses":{"200":{"description":"Le tarificateur a été modifié","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogueTarificateursDTO"}}}},"204":{"description":"Le contenu est vide","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogueTarificateursDTO"}}}},"404":{"description":"Il n'y a pas de tarificateurs correspondant à ce code","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v1/config-garanties/{idGarantie}":{"put":{"tags":["Interfaces concernant les config-garanties"],"description":"Permet de mettre à jour la configuration d'une garantie","operationId":"updateConfigGarantie","parameters":[{"name":"idGarantie","in":"path","description":"Id de garantie","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigGarantieDTO"}}},"required":true},"responses":{"204":{"description":"La mise a jour s'est bien déroulé"},"404":{"description":"L'id de garantie fournit en entrée est inconnu","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}},"deprecated":true}},"/v3/referentiels-objectifs":{"get":{"tags":["Gestion des données"],"operationId":"findAll","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["MARCHE","FAMILLE","MODALITE_DISTRIBUTION"]}},{"name":"pageReference","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReferentielObjectifDTO_NextVersion"}}}}}},"post":{"tags":["Gestion des données"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifRequestDTO_NextVersion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifDTO_NextVersion"}}}}}}},"/v3/objectifs":{"get":{"tags":["Gestion des objectifs commerciaux"],"operationId":"findByCriteria","parameters":[{"name":"libelleRefPilotageMarche","in":"query","required":false,"schema":{"type":"string"}},{"name":"libelleRefPilotageFamille","in":"query","required":false,"schema":{"type":"string"}},{"name":"libelleRefPilotageModaliteDistribution","in":"query","required":false,"schema":{"type":"string"}},{"name":"dateDebut","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageObjectifDTO_NextVersion"}}}}}},"post":{"tags":["Gestion des objectifs commerciaux"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectifRequestDTO_NextVersion"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectifDTO_NextVersion"}}}}}}},"/v3/objectifs/{idObjectif}/duplicate":{"post":{"tags":["Gestion des objectifs commerciaux"],"operationId":"duplicate","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectifRequestDTO_NextVersion"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectifDTO_NextVersion"}}}}}}},"/v2/tables-pivot/sync":{"post":{"tags":["Regroupe les différents services de gestion des tables pivot"],"description":"Lance la synchronisation des tables pivot","operationId":"syncTablesPivot","parameters":[{"name":"username","in":"header","required":false,"schema":{"type":"string"}},{"name":"sync-timestamp","in":"query","description":"Date-Heure à partir de laquelle on va réaliser la synchronisation des données","required":false,"schema":{"type":"string","format":"date-time"},"example":"2024-05-23T07:00:00Z"}],"responses":{"200":{"description":"La synchronisation des tables pivot a bien été exécutée"},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}},"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/referentiels-pe":{"get":{"tags":["Gestion des données"],"operationId":"findAllRefPreEngagement","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferentielPreEngagementDTO"}}}}}}},"post":{"tags":["Gestion des données"],"operationId":"createReferentielPreEngagement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferentielPreEngagementDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielPreEngagementDTO"}}}}}}},"/v2/referentiels-offre/type-param-offre/{idTypeParamOffre}/valeur-param-offre":{"get":{"tags":["referentiel-offre-controller"],"operationId":"getValeurParamOffre","parameters":[{"name":"idTypeParamOffre","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"libelleValeur","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReferentielValeurOffreDTO"}}}}}},"post":{"tags":["referentiel-offre-controller"],"operationId":"createValeurParamOffre","parameters":[{"name":"idTypeParamOffre","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferentielValeurOffreDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielValeurOffreDTO"}}}}}}},"/v2/referentiels-objectifs":{"get":{"tags":["Gestion des données"],"operationId":"findAllOld","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["MARCHE","FAMILLE","MODALITE_DISTRIBUTION"]}},{"name":"pageReference","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReferentielObjectifDTO_OldVersion"}}}}},"deprecated":true},"post":{"tags":["Gestion des données"],"operationId":"createOld","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifRequestDTO_OldVersion"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielObjectifDTO_OldVersion"}}}}},"deprecated":true}},"/v2/offres/{codeOffre}/tarifer/indiv/infinit":{"post":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"description":"Récupération du tarif individuel pour une offre qui est gérée par HM au travers d'infinite","operationId":"tarifIndivInfinit","parameters":[{"name":"codeOffre","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TarifRequestDTO"}}},"required":true},"responses":{"200":{"description":"Le tarif est trouvé et il est retourné","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TarifResponseDTO"}}}},"400":{"description":"les données en entrée ne sont pas valides, attention des infos peuvent être émises dans l'erreur pour faciliter l'analyse de l'erreur ","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Il n'y a pas d'offre correspondant à ce code","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}},"deprecated":true}},"/v2/offres/{codeOffre}/tarifer/indiv/hors-infinit":{"post":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"description":"Récupération du tarif individuel pour une offre qui est gérée par HM mais hors Infinite","operationId":"tarifIndivHorsInfinit","parameters":[{"name":"codeOffre","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TarifRequestDTO"}}},"required":true},"responses":{"200":{"description":"Le tarif est trouvé et il est retourné","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TarifResponseDTO"}}}},"400":{"description":"les données en entrée ne sont pas valides, attention des infos peuvent être émises dans l'erreur pour faciliter l'analyse de l'erreur ","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Il n'y a pas d'offre correspondant à ce code","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}},"deprecated":true}},"/v2/offres/{codeOffre}/tarifer/coll":{"post":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"operationId":"tarifColl","parameters":[{"name":"codeOffre","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TarifRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TarifResponseDTO"}}}}},"deprecated":true}},"/v2/offres/tarifs/indiv/infinit":{"post":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"description":"Import des tarifs individuels Infinite en mode tout ou rien (transactionnel). Fichier au format csv avec les champs suivants:\n\naction : 'I' pour import, 'D' pour delete, ou 'U' pour update\n\nid_offre: numérique\n\ncode_produit: alphanumérique\n\ncode_tarif: alphanumérique\n\nage_min: numérique\n\nage_max: numérique\n\ndate_debut: format YYYY-MM-DD\n\ndate_fin: format YYYY-MM-DD\n\ntarif_mensuel: float\n\ncritere_1: alphanumérique\n\ncritere_2: alphanumérique\n\ncritere_3: alphanumérique\n\ncritere_4: alphanumérique\n\ncritere_5: alphanumérique\n\ncritere_6: alphanumérique\n\ncritere_7: alphanumérique","operationId":"importTarifIndivInfinit","parameters":[{"name":"file","in":"query","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"Les tarifs ont bien été importés, le fichier dans la réponse contient le détail des lignes importées","content":{"application/octet-stream":{"schema":{"type":"string","format":"byte"}}}},"409":{"description":"Le format est ok, données valides au sens fonctionnel, mais les données n'ont pas pu être persistées","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"422":{"description":"Le format est ok, mais les données sont invalides au sens fonctionnel, le fichier dans la réponse contient le détail des erreurs","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Il n'y a pas d'offre correspondant à ce code","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}},"deprecated":true}},"/v2/offres/tarifs/indiv/hors-infinit":{"post":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"description":"Import des tarifs individuels hors Infinite en mode tout ou rien (transactionnel). Fichier au format csv avec les champs suivants:\n\naction : 'I' pour import, 'D' pour delete, ou 'U' pour update\n\nid_offre: numérique\n\ncode_produit: alphanumérique\n\nrole: 'Conjoint', 'Enfant' ou non-renseigné\n\nage_min: numérique\n\nage_max: numérique\n\ndate_debut: format YYYY-MM-DD\n\ndate_fin: format YYYY-MM-DD\n\ntarif_mensuel: float","operationId":"importTarifIndivHorsInfinit","parameters":[{"name":"file","in":"query","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"Les tarifs ont bien été importés, le fichier dans la réponse contient le détail des lignes importées","content":{"application/octet-stream":{"schema":{"type":"string","format":"byte"}}}},"409":{"description":"Le format est ok, données valides au sens fonctionnel, mais les données n'ont pas pu être persistées","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"422":{"description":"Le format est ok, mais les données sont invalides au sens fonctionnel, le fichier dans la réponse contient le détail des erreurs","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Il n'y a pas d'offre correspondant à ce code","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"application/octet-stream":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}},"deprecated":true}},"/v2/offres/tarifer/upload":{"post":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"operationId":"uploadTarifs","parameters":[{"name":"type","in":"query","required":true,"schema":{"type":"string"}},{"name":"typeImport","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"fichier":{"type":"string","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImportFileResponseDTO"}}}}},"deprecated":true}},"/v2/offres-pe":{"get":{"tags":["offre-pre-engagement-controller"],"operationId":"findAll_1","parameters":[{"name":"code","in":"query","required":false,"schema":{"type":"string"}},{"name":"code-domaine","in":"query","required":false,"schema":{"type":"string"}},{"name":"libelle-domaine","in":"query","required":false,"schema":{"type":"string"}},{"name":"date-validite","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageReference","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageOffrePreEngagementDTO"}}}}}},"post":{"tags":["offre-pre-engagement-controller"],"operationId":"createOffrePreEngagement","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffrePreEngagementDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OffrePreEngagementDTO"}}}}}}},"/v2/offres-catalogue":{"get":{"tags":["offre-catalogue-controller"],"description":"Récupération de l'intégralité des offres du catalogue","operationId":"findAllOffreCatalogue","responses":{"200":{"description":"L'intégralité des offres du catalogue a été récupérée","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OffreCatalogueLightDTO"}}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OffreCatalogueLightDTO"}}}}}}},"post":{"tags":["offre-catalogue-controller"],"operationId":"createOffreCatalogue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OffreCatalogueAdministrationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OffreCatalogueDTO"}}}}}}},"/v2/offre-pe/{idOffreLinkedToDocument}/document":{"post":{"tags":["document-pre-engagement-controller"],"operationId":"createDocument","parameters":[{"name":"idOffreLinkedToDocument","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}}}}},"/v2/objectifs":{"get":{"tags":["Gestion des objectifs commerciaux"],"operationId":"findByCriteriaOld","parameters":[{"name":"libelleRefPilotageMarche","in":"query","required":false,"schema":{"type":"string"}},{"name":"libelleRefPilotageFamille","in":"query","required":false,"schema":{"type":"string"}},{"name":"libelleRefPilotageModaliteDistribution","in":"query","required":false,"schema":{"type":"string"}},{"name":"dateDebut","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageObjectifDTO_OldVersion"}}}}}},"post":{"tags":["Gestion des objectifs commerciaux"],"operationId":"createOld_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectifRequestDTO_OldVersion"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectifDTO_OldVersion"}}}}},"deprecated":true}},"/v2/objectifs/{idObjectif}/rattachements":{"post":{"tags":["Gestion des objectifs commerciaux"],"operationId":"rattachement","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RattachementRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created"}}}},"/v2/objectifs/{idObjectif}/non-rattachements/{idProduit}":{"post":{"tags":["Gestion des objectifs commerciaux"],"operationId":"nonRattachementProduit","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"idProduit","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RattachementRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created"}}}},"/v2/objectifs/{idObjectif}/duplicate":{"post":{"tags":["Gestion des objectifs commerciaux"],"operationId":"duplicateOld","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectifRequestDTO_OldVersion"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ObjectifDTO_OldVersion"}}}}},"deprecated":true}},"/v2/modalite-paiement":{"post":{"tags":["modalite-paiement-param-controller"],"operationId":"createRefModalite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefModalitePaiementDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefModalitePaiementDTO"}}}}}}},"/v2/formalites-medicales/types-fmos":{"get":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Recherche de type de FMO","operationId":"rechercheTypeFmo","parameters":[{"name":"page","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"cdTypeFmo","in":"query","description":"Code du type de FMO","required":false,"schema":{"type":"string"},"example":"QM"},{"name":"libelle","in":"query","description":"Libelle du type de FMO","required":false,"schema":{"type":"string"},"example":"Questionnaire médical"},{"name":"unpaged","in":"query","description":"Recherche non paginée","required":false,"schema":{"type":"boolean"},"example":true}],"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"post":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Crée un nouveau type de FMO","operationId":"creerTypeFmo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TypeFmoDTO"}}},"required":true},"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/template-qm":{"get":{"tags":["Récupération des données liées aux Template QM Formed"],"description":"Recherche de template QM","operationId":"rechercheTemplateQmLight","parameters":[{"name":"pageReference","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"filters","in":"query","description":"filtres de recherche","required":true,"schema":{"$ref":"#/components/schemas/TemplateQMSearchDTO"}}],"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"post":{"tags":["Récupération des données liées aux Template QM Formed"],"description":"Créer un nouveau template QM","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateQMDTO"}}},"required":true},"responses":{"200":{"description":"Template QM créé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateQMDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/formalites-medicales/template-qm/{id}/dupliquer":{"post":{"tags":["Récupération des données liées aux Template QM Formed"],"description":"Dupliquer le Template Qm","operationId":"duplicate_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateQMDTO"}}},"required":true},"responses":{"200":{"description":"Template QM dupliqué","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateQMDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/formalites-medicales/produit-grilles-medicales":{"get":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Récupère un produit/grilles","operationId":"consult","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"filters","in":"query","description":"Filtres de recherche des grilles produits médicales","required":true,"schema":{"$ref":"#/components/schemas/ProduitGrilleMedicaleSearchDTO"}}],"responses":{"200":{"description":"Résultats complets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageProduitGrilleMedicaleDTO"}}}},"204":{"description":"Aucun produit/grilles trouvée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageProduitGrilleMedicaleDTO"}}}},"404":{"description":"Les paramètres produit/grilles ne correspondent à aucune formalité médicale ref","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageProduitGrilleMedicaleDTO"}}}},"400":{"description":"Les paramètres de la requête ne sont pas corrects","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"post":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Création d'une grille produit","operationId":"createProduitGrilleMedicale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProduitGrilleMedicaleRequestDTO"}}},"required":true},"responses":{"200":{"description":"Création réussie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProduitGrilleMedicaleDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/produit-grilles-medicales/{id}/publier":{"post":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Publier une grille produit","operationId":"publishGrille","parameters":[{"name":"id","in":"path","description":"ID de la grille produit à publier","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Publication réussie"},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/produit-grilles-medicales/{id}/dupliquer":{"post":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Duplication d'une grille produit","operationId":"duplicateProduitGrilleMedicale","parameters":[{"name":"id","in":"path","description":"ID de la grille produit à dupliquer","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProduitGrilleMedicaleRequestDTO"}}},"required":true},"responses":{"200":{"description":"Duplication réussie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProduitGrilleMedicaleDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/produit-grilles-medicales/verifier-grille-medicale":{"post":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Appelle l'api externe formalites-medicales-socle-rs-api pour récupérer la liste des FMO en fonction des critères envoyés.","operationId":"verifierGrilleMedicale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FournitureFMORequestDTO"}}},"required":true},"responses":{"200":{"description":"Réponse OK avec liste des FMO","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiLienCombinaisonFmoDTO"},"uniqueItems":true}}}},"400":{"description":"Erreur fonctionnelle","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiLienCombinaisonFmoDTO"},"uniqueItems":true}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/fmos":{"get":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Recherche de FMO","operationId":"search","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"filters","in":"query","description":"Filtres de recherche","required":true,"schema":{"$ref":"#/components/schemas/FmoSearchDTO"}}],"responses":{"200":{"description":"Liste des fmos récupérées","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRefFmoDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}},"post":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Crée une nouvelle FMO","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefFmoDTO"}}},"required":true},"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/formalites-medicales/fmos/{id}/upload-template":{"post":{"tags":["Récupération des données liées aux FMO Formed"],"description":"Vérifie l'unicité du code de FMO","operationId":"uploadTemplate","parameters":[{"name":"id","in":"path","description":"Code FMO à tester","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"filename","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"Template téléversé","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefFmoDTO"}}}},"400":{"description":"Le code de FMO n'est pas unique","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefFmoDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/formalites-medicales/criteres":{"get":{"tags":["Récupération des données liées aux critères des formalités médicale"],"description":"Recherche de critère","operationId":"rechercheCritere","parameters":[{"name":"unpaged","in":"query","description":"Non paginé","required":false,"schema":{"type":"boolean","default":false}},{"name":"filters","in":"query","description":"Filtres de recherche","required":true,"schema":{"$ref":"#/components/schemas/CritereSearchDTO"}}],"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}},"post":{"tags":["Récupération des données liées aux critères des formalités médicale"],"description":"Crée un nouveau critère","operationId":"creerCritere","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefCritereDTO"}}},"required":true},"responses":{"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/documents":{"get":{"tags":["Récupération des données liées aux documents"],"description":"Récupération des documents avec la notion de nature édition pour un paramétrage donné (offre, type_offre, scenario, domaine). **Attention**, ce endpoint a été spécifiquement créé pour les besoins de Contralto V2, préférer le endpoint searchDocuments qui retourne des résultats paginés, et qui ne déduplique pas les documents (conséquence de l'alimentation du champ *\"natureEdition\"*).","operationId":"getDocuments","parameters":[{"name":"codeOffre","in":"query","description":"Code contractuel de l'offre","required":false,"schema":{"type":"string"},"example":"'178' ou 'PCCNBJOC'"},{"name":"typeOffre","in":"query","description":"Le type de l'offre","required":false,"schema":{"type":"string"},"example":"INDIVIDUEL / COLLECTIF"},{"name":"domaineOffre","in":"query","description":"Le domaine de l'offre","required":false,"schema":{"type":"string"},"example":"SANTE"},{"name":"codeProcess","in":"query","description":"Le code du process précis que l'on doit retourner","required":false,"schema":{"type":"string"},"example":"AFN"},{"name":"codeWorkflow","in":"query","description":"Le code du workflow sur lequel on se trouve","required":false,"schema":{"type":"string"},"example":"DISTRIBUTION"},{"name":"dateEffet","in":"query","description":"Date d'effet du contrat","required":false,"schema":{"type":"string","format":"date"},"example":"2023-03-15"},{"name":"codeScenario","in":"query","description":"Le code du scenario","required":false,"schema":{"type":"string"},"example":"S1001"},{"name":"isResponsable","in":"query","description":"Indique si les documents retournés doivent être responsables. Ce critère de recherche est déprécié au profit de isSanteAdditionnel, équivalent à l'inverse. Une recherche avec le critère isReponsable=true va être transformée en isSanteAdditionnel=false","required":false,"deprecated":true,"schema":{"type":"boolean"},"example":true},{"name":"isSanteAdditionnel","in":"query","description":"Si 'true', retourne tous les documents, si 'false' ou pas spécifié, seuls les documents pour lesquels sante_additionnel est à 'false' sont retournés.","required":false,"schema":{"type":"boolean"},"example":true},{"name":"isMandatRia","in":"query","description":"Filtre les documents de mandat RIA. Si 'true', on retourne uniquement dont le type est flaggé \"RIA\", si 'false', on retourne tous les documents \"non-RIA\", si non-spécifié, on retourne tout","required":false,"schema":{"type":"boolean"},"example":true},{"name":"idEtudeMutex","in":"query","description":"Permet d'appeler Mutex si ce champ est rempli","required":false,"schema":{"type":"string"},"example":"eeebbb01-61a4-4443-9006-77d2b4c78f94"},{"name":"isOptionHm","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Les documents ont été trouvés et retournés","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentDTO_WithNatureEdition"}}}}},"400":{"description":"Une donnée est manquante","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_WithNatureEdition"}}}},"404":{"description":"Il n'y a pas d'offre correspondant à ce code","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_WithNatureEdition"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_WithNatureEdition"}}}}}},"post":{"tags":["Récupération des données liées aux documents"],"description":"Création d'un document (on injecte le contenu et on crée les documents supplémentaires dans des appels séparés)","operationId":"createDocument_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentDTO"},"encoding":{"documentDTO":{"contentType":"*/*"}}}},"required":true},"responses":{"201":{"description":"Le document a été créé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}},"400":{"description":"Le type de document est invalide","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentDTO"}}}},"404":{"description":"Impossible de trouver le type de document","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/documents/{idDocument}/documents-supplementaires":{"post":{"tags":["Récupération des données liées aux documents"],"description":"création et association d'un document supplémentaire à un document existant","operationId":"createDocumentSupplementaire","parameters":[{"name":"idDocument","in":"path","description":"ID du document","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentSupplementaireDTO"}}},"required":true},"responses":{"201":{"description":"Le document est bien actualisé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentSupplementaireDTO"}}}},"404":{"description":"Le document n'a pas pu être trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/config-documents":{"post":{"tags":["config-document-controller"],"description":"Création d'un config document (paramétrage offre/document), scenarios inclus)","operationId":"createConfigDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigDocumentDTO"},"encoding":{"configDocumentDTO":{"contentType":"*/*"}}}},"required":true},"responses":{"201":{"description":"Le paramétrage a bien été créé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConfigDocumentDTO"}}}},"400":{"description":"Requête invalide","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConfigDocumentDTO"}}}},"404":{"description":"Impossible de trouver le type de document","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/catalogue-tarificateurs":{"get":{"tags":["catalogue-tarificateur-controller"],"description":"Récupération de tous les tarificateurs","operationId":"findAllCatalogueTarificateurs","responses":{"200":{"description":"L'intégralité des tarificateurs a été récupérée","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogueTarificateurLightDTO"}}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogueTarificateurLightDTO"}}}}}}},"post":{"tags":["catalogue-tarificateur-controller"],"description":"Ajout d'un tarificateur au catalogue des offres","operationId":"createCatalogueTarificateurs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogueTarificateursDTO"}}},"required":true},"responses":{"201":{"description":"Le tarificateur a été ajouté","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CatalogueTarificateursDTO"}}}},"500":{"description":"Le tarificateur est déjà présent en base","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/assurance-pret/configuration/valider":{"post":{"tags":["Import, validation et récupération de la configuration d'un produit assurance prêt"],"description":"Valide un fichier Excel de configuration d'un produit assurance prêt sans persister les données","operationId":"validerFichierExcel","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"fichier":{"type":"string","format":"binary","description":"Fichier Excel (.xlsx) de configuration du produit à valider"},"requete":{"$ref":"#/components/schemas/ValidationExcelRequest"}},"required":["fichier","requete"]}}}},"responses":{"204":{"description":"Fichier Excel valide"},"400":{"description":"Fichier invalide ou paramètres manquants","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Données introuvables","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/assurance-pret/configuration/import":{"post":{"tags":["Import, validation et récupération de la configuration d'un produit assurance prêt"],"description":"Importe et valide un fichier Excel de configuration d'un produit assurance prêt","operationId":"importerConfigurationProduit","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"fichier":{"type":"string","format":"binary","description":"Fichier Excel (.xlsx) de configuration du produit"},"configurationProduitRequest":{"$ref":"#/components/schemas/ConfigurationProduitRequest"}},"required":["configurationProduitRequest","fichier"]}}}},"responses":{"204":{"description":"Import validé avec succès"},"400":{"description":"Fichier invalide","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Fichier ou données introuvables","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/template-qm/publier/{id}":{"patch":{"tags":["Récupération des données liées aux Template QM Formed"],"description":"Publie un template QM","operationId":"publish","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Template QM publié","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateQMDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmResourceAccessException"}}}}}}},"/v2/formalites-medicales/produit-grilles-medicales/{id}":{"get":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Récupérer une grille","operationId":"findProduitGrilleMedicaleById","parameters":[{"name":"id","in":"path","description":"Id de la grille recherchée","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Grille récupérée","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProduitGrilleMedicaleDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"delete":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Suppression d'une grille produit","operationId":"deleteProduitGrilleMedicale","parameters":[{"name":"id","in":"path","description":"ID de la grille produit","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Suppression réussie"},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}},"patch":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Mise à jour des champs d'une grille produit","operationId":"updateProduitGrilleMedicale","parameters":[{"name":"id","in":"path","description":"ID de la grille produit","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProduitGrilleMedicaleRequestDTO"}}},"required":true},"responses":{"200":{"description":"Mise à jour des champs réussie","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProduitGrilleMedicaleDTO"}}}},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/formalites-medicales/produit-grilles-medicales/{id}/depublier":{"patch":{"tags":["Récupération des données liées aux produit/grilles"],"description":"Dépublier une grille produit","operationId":"unpublishGrille","parameters":[{"name":"id","in":"path","description":"ID de la grille produit à dépublier","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Dépublication réussie"},"500":{"description":"Problème interne","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v4/produits":{"get":{"tags":["Récupération des données liées aux Produits"],"description":"Recherche de produits multi-critères le paramètres orSearch fonctionne différemment, et un paramètre codeFamille a été ajouté","operationId":"searchProduits","parameters":[{"name":"codeContractuel","in":"query","description":"Code contractuel du produit ou liste de codes contractuels","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"HPA100"},{"name":"codeCommercial","in":"query","description":"Code commercial du produit","required":false,"schema":{"type":"string"},"example":"HPA100"},{"name":"codeFamille","in":"query","description":"Code famille de la gamme associée au produit","required":false,"schema":{"type":"string"},"example":"SA"},{"name":"codeProduitTechnique","in":"query","description":"Code d'un produit technique associé au produit","required":false,"schema":{"type":"string"},"example":"TSPAHPA100"},{"name":"libelleCommercial","in":"query","description":"Libelle commercial du produit. Il est possible de faire une recherche avec un libelle partiel (si le parametre rechercheExacte est fourni avec une valeur 'false')","required":false,"schema":{"type":"string"},"example":"HPA100"},{"name":"libelleContractuel","in":"query","description":"Libelle contractuel du produit. Il est possible de faire une recherche avec un libelle partiel (si le parametre rechercheExacte est fourni avec une valeur 'false')","required":false,"schema":{"type":"string"},"example":"Sécurité"},{"name":"ouvertVente","in":"query","description":"Flag pour récupérer les produits ouverts ou fermés à la vente","required":false,"schema":{"type":"boolean"},"example":true},{"name":"produitModele","in":"query","description":"Flag pour récupérer les produits modele","required":false,"schema":{"type":"boolean"},"example":true},{"name":"rechercheExacte","in":"query","description":"Flag qui force une égalité stricte lors des comparaisons pour les différents paramètres de recherche. Valeur par défaut à 'true'. Si 'false', les recherches se font avec des contient / like","required":false,"schema":{"type":"boolean","default":true},"example":true},{"name":"codeRegime","in":"query","description":"Code du régime du produit","required":false,"schema":{"type":"string"},"example":"RG"},{"name":"codeResponsabilite","in":"query","description":"Code de la responsabilité du produit","required":false,"schema":{"type":"string"},"example":"NR"},{"name":"dateEffet","in":"query","description":"Date d'effet du produit indiquant s'il est ouvert à la vente ou non en fonction de sa date de commercialisation","required":false,"schema":{"type":"string","format":"date"},"example":true},{"name":"codeMarche","in":"query","description":"Code marché du produit","required":false,"schema":{"type":"string"},"example":"IND"},{"name":"orSearch","in":"query","description":"Flag qui permet de lancer une recherche avec un OU au lieu d'un ET sauf pour les critères suivants qui sont toujours en ET :  - ouvertVente  - produitModele  - codeRegime  - codeResponsabilite  - codeFamille  - dateEffet   - codeMarche Valeur par défaut à 'false'. Si 'true', les recherches se font avec des OU","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"200":{"description":"Au moins un produit a été trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduitDTO_NextVersion"}}}},"204":{"description":"Aucun produit trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduitDTO_NextVersion"}}}},"206":{"description":"Contenu partiel","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduitDTO_NextVersion"}}}},"400":{"description":"Les paramètres de la requête ne sont pas corrects","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}}}}},"/v3/referentiel-soprano/standards-cotisations":{"get":{"tags":["Récupération des données référentiel Soprano"],"description":"Retourne les standards de cotisation","operationId":"getStandardsCotisation","parameters":[{"name":"parDefaut","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Liste des standards de cotisations retournée avec succès","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StandardCotisationDTO_NextVersion"}}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}}}}},"/v3/produits":{"get":{"tags":["Récupération des données liées aux Produits"],"description":"Recherche des Produits avec tous les critères renseignés","operationId":"searchProduitsOld","parameters":[{"name":"codeContractuel","in":"query","description":"Code contractuel du produit","required":false,"schema":{"type":"string"},"example":"HPA100"},{"name":"codeCommercial","in":"query","description":"Code commercial du produit","required":false,"schema":{"type":"string"},"example":"HPA100"},{"name":"codeProduitTechnique","in":"query","description":"Code d'un produit technique associé au produit","required":false,"schema":{"type":"string"},"example":"TSPAHPA100"},{"name":"libelleCommercial","in":"query","description":"Libelle commercial du produit. Il est possible de faire une recherche avec un libelle partiel (si le parametre rechercheExacte est fourni avec une valeur 'false')","required":false,"schema":{"type":"string"},"example":"HPA100"},{"name":"libelleContractuel","in":"query","description":"Libelle contractuel du produit. Il est possible de faire une recherche avec un libelle partiel (si le parametre rechercheExacte est fourni avec une valeur 'false')","required":false,"schema":{"type":"string"},"example":"Sécurité"},{"name":"ouvertVente","in":"query","description":"Flag pour récupérer les produits ouverts ou fermés à la vente","required":false,"schema":{"type":"boolean"},"example":true},{"name":"produitModele","in":"query","description":"Flag pour récupérer les produits modele","required":false,"schema":{"type":"boolean"},"example":true},{"name":"rechercheExacte","in":"query","description":"Flag qui force une égalité stricte lors des comparaisons pour les différents paramètres de recherche. Valeur par défaut à 'true'. Si 'false', les recherches se font avec des contient / like","required":false,"schema":{"type":"boolean","default":true},"example":true},{"name":"codeRegime","in":"query","description":"Code du régime du produit","required":false,"schema":{"type":"string"},"example":"RG"},{"name":"codeResponsabilite","in":"query","description":"Code de la responsabilité du produit","required":false,"schema":{"type":"string"},"example":"NR"},{"name":"dateEffet","in":"query","description":"Date d'effet du produit indiquant s'il est ouvert à la vente ou non en fonction de sa date de commercialisation","required":false,"schema":{"type":"string","format":"date"},"example":true},{"name":"orSearch","in":"query","description":"Flag qui permet de lancer une recherche avec un OU au lieu d'un ET pour les critères donnés.Valeur par défaut à 'false'. Si 'true', les recherches se font avec des OU","required":false,"schema":{"type":"boolean","default":false},"example":false}],"responses":{"200":{"description":"Au moins un produit a été trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduitDTO_NextVersion"}}}},"204":{"description":"Aucun produit trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduitDTO_NextVersion"}}}},"206":{"description":"Contenu partiel","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduitDTO_NextVersion"}}}},"400":{"description":"Les paramètres de la requête ne sont pas corrects","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}}},"deprecated":true}},"/v3/produits/{codeProduitContractuel}/grilles-tarifaires/options":{"get":{"tags":["Récupération des données liées aux Produits"],"description":"Retourne pour un produit ses grilles tarifaires option ayant pour base liée la grille passée en paramètre, soit par son id base liée, soit par le couple code produit contractuel base liée + code de grille base liée","operationId":"consultOptionsGrilleTarifaire","parameters":[{"name":"codeProduitContractuel","in":"path","description":"le code contractuel du produit pour lequel on recherche les grilles option","required":true,"schema":{"type":"string"},"example":"HPA100"},{"name":"idGrilleBaseLiee","in":"query","description":"l'id de la grille base liée pour laquelle on veut retourner les grilles option (facultatif si codeProduitContractuelBaseLiee et codeGrilleBaseLiee renseignés)","required":false,"schema":{"type":"integer","format":"int64"},"example":71164},{"name":"codeProduitContractuelBaseLiee","in":"query","description":"le code produit contractuel de la grille base liée (facultatif si idGrilleBaseLiee renseigné)","required":false,"schema":{"type":"string"},"example":"HPA099"},{"name":"codeGrilleBaseLiee","in":"query","description":"le code de la grille base liée pour laquelle on veut retourner les grilles option (facultatif si idGrilleBaseLiee renseigné)","required":false,"schema":{"type":"string"},"example":"XT3014"},{"name":"code-grille-option","in":"query","description":"le code de la grille tarifaire  pour laquelle on veut retourner les grilles option (facultatif)","required":false,"schema":{"type":"string"},"example":"XT3002"},{"name":"dateEffet","in":"query","description":"la date d'effet à laquelle on recherche les grilles option","required":true,"schema":{"type":"string"},"example":"2020-01-10"},{"name":"loadFromTribox","in":"query","description":"true, si nous souhaitons chercher la grille dans Tribox. Sinon, False","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"renouvellement-incomplet","in":"query","description":"Si true, on remonte uniquement les grilles avec renouvellementIncomplet(BOORENOUV). Si false les grilles avec renouvellementIncomplet(BOORENOUV) sont exclues. En l'absence de ce paramètre, le filtre est désactivé, l'ensemble des grilles sont remontées quelle que soit la valeur renouvellementIncomplet(BOORENOUV)","required":false,"schema":{"type":"boolean"},"example":true}],"responses":{"200":{"description":"Au moins une grille a été trouvée","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageGrilleDTO"}}}},"204":{"description":"Aucune grille trouvée","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageGrilleDTO"}}}},"206":{"description":"Contenu partiel","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageGrilleDTO"}}}},"400":{"description":"Les paramètres de la requête ne sont pas corrects","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v3/produits/{codeContractuel}":{"get":{"tags":["Récupération des données liées aux Produits"],"description":"Consultation d'un produit","operationId":"consultProduit","parameters":[{"name":"codeContractuel","in":"path","description":"Code contractuel du produit","required":true,"schema":{"type":"string"},"example":"HPA100"}],"responses":{"200":{"description":"Le produit a été trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProduitDTO_NextVersion"}}}},"404":{"description":"Aucun produit trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}}}}},"/v3/produits/{codeContractuel}/tarif":{"get":{"tags":["Récupération des données liées aux Produits"],"description":"Recherche pour un produit SOIT le code tarif SOIT le code grille selon les paramètres d'entrée inverse.<br> le retour l'idGrille n'est renseigné que si celui-ci correspond à une grille valide à la date d'effet <br> exemple : si en entrée on a le code grille la recherche portera sur le code produit.<br>/!\\ les deux paramètres ne sont pas tolérés en même temps","operationId":"findCodeTarifOrCodeGrille","parameters":[{"name":"codeContractuel","in":"path","description":"Code du produit","required":true,"schema":{"type":"string"},"example":"B03019"},{"name":"codeGrille","in":"query","description":"Code grille","required":false,"schema":{"type":"string"},"example":"XIF001-XT3001"},{"name":"codeTarif","in":"query","description":"Code tarif","required":false,"schema":{"type":"string"},"example":"XIF001"},{"name":"date-effet","in":"query","description":"Date d'effet de la grille pour récupérer son id valide à cette date","required":false,"schema":{"type":"string","format":"date","default":"2026-08-24"},"example":"2024-01-31"}],"responses":{"200":{"description":"Récupération d'un objet contenant les paramètres d'entrée ainsi qu'une liste des codes tarif trouvés OU du code grille trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CodesProduitTarifGrilleDTO"}}}},"400":{"description":"Paramètres de la requête incorrects","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Produit référentiel inexistant","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v3/produits/{codeContractuel}/light":{"get":{"tags":["Récupération des données liées aux Produits"],"description":"Consultation d'un produit light pré-tarifé","operationId":"consultProduitLight","parameters":[{"name":"codeContractuel","in":"path","description":"Code du produit","required":true,"schema":{"type":"string"},"example":"B01615"}],"responses":{"200":{"description":"Consultation d'un produit réussite","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProduitLightDTO"}}}},"404":{"description":"Aucune produit référentiel trouvé","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v3/offres/{codeOffre}/infos-distribution":{"get":{"tags":["Récupération des données liées aux offres (anciennement gammes)"],"description":"Récupération des informations liées à la distribution selon une offre et un scénario. On regroupe les codes populations pour un même couple codeProduit / codeTarif","operationId":"getInformationsDistribution","parameters":[{"name":"codeOffre","in":"path","description":"Code contractuel de l'offre","required":true,"schema":{"type":"string"},"example":"'178' ou 'PCCNBJOC'"},{"name":"scenario","in":"query","description":"Scénario de base","required":true,"schema":{"type":"string"},"example":"S1001"},{"name":"scenarioSanteAdd","in":"query","description":"Scénario pour la santé additionnelle","required":false,"schema":{"type":"string"},"example":"S1010"},{"name":"addInformationScenarioSanteAdd","in":"query","description":"Ajout d'informations additionnelles si présence de scénario additionnel lié a l'offre et au scenario","required":false,"schema":{"type":"boolean"},"example":false},{"name":"dateEffet","in":"query","description":"Date d'effet permettant de filtrer les produits en fonction de leurs dates de début et de fin d'effet","required":true,"schema":{"type":"string","format":"date"},"example":"2023-03-15"}],"responses":{"200":{"description":"Les informations liées à la distribution ont été trouvés et retournés","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InformationDistributionDTO_NextVersion"}}}},"400":{"description":"Une donnée est manquante ou son format est incorrect","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}},"404":{"description":"Il n'y a pas d'offre correspondant à ce code","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException_NextVersion"}}}}}}},"/v3/objectifs/{idObjectif}/rattachements-produits":{"get":{"tags":["Gestion des objectifs commerciaux"],"operationId":"getRattachementsProduitsByParams","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"codeProduit","in":"query","required":false,"schema":{"type":"string"}},{"name":"libelleProduit","in":"query","required":false,"schema":{"type":"string"}},{"name":"familleProduit","in":"query","required":false,"schema":{"type":"string"}},{"name":"codeOffre","in":"query","required":false,"schema":{"type":"string"}},{"name":"libelleOffre","in":"query","required":false,"schema":{"type":"string"}},{"name":"marche","in":"query","required":false,"schema":{"type":"string"}},{"name":"rattachement","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduitDTO_NextVersion"}}}}}}},"/v3/objectifs/{idObjectif}/rattachements-produits-isoles":{"get":{"tags":["Gestion des objectifs commerciaux"],"operationId":"getRattachementsProduitsIsoles","parameters":[{"name":"idObjectif","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProduitDTO_NextVersion"}}}}}}},"/v3/documents":{"get":{"tags":["Récupération des données liées aux documents"],"description":"Récupération des documents avec la notion de nature édition pour un paramétrage donné (offre, type_offre, scenario, domaine). **Attention**, ce endpoint a été spécifiquement créé pour les besoins de Contralto V2, préférer le endpoint searchDocuments qui retourne des résultats paginés, et qui ne déduplique pas les documents (conséquence de l'alimentation du champ *\"natureEdition\"*).","operationId":"getDocuments_1","parameters":[{"name":"codeOffre","in":"query","description":"Code contractuel de l'offre","required":false,"schema":{"type":"string"},"example":"'178' ou 'PCCNBJOC'"},{"name":"typeOffre","in":"query","description":"Le type de l'offre","required":false,"schema":{"type":"string"},"example":"INDIVIDUEL / COLLECTIF"},{"name":"domaineOffre","in":"query","description":"Le domaine de l'offre","required":false,"schema":{"type":"string"},"example":"SANTE"},{"name":"codeProcess","in":"query","description":"Le code du process précis que l'on doit retourner","required":false,"schema":{"type":"string"},"example":"AFN"},{"name":"codeWorkflow","in":"query","description":"Le code du workflow sur lequel on se trouve","required":false,"schema":{"type":"string"},"example":"DISTRIBUTION"},{"name":"dateEffet","in":"query","description":"Date d'effet du contrat","required":false,"schema":{"type":"string","format":"date"},"example":"2023-03-15"},{"name":"codeScenario","in":"query","description":"Le code du scenario","required":false,"schema":{"type":"string"},"example":"S1001"},{"name":"isResponsable","in":"query","description":"Indique si les documents retournés doivent être responsables. Ce critère de recherche est déprécié au profit de isSanteAdditionnel, équivalent à l'inverse. Une recherche avec le critère isReponsable=true va être transformée en isSanteAdditionnel=false","required":false,"deprecated":true,"schema":{"type":"boolean"},"example":true},{"name":"isSanteAdditionnel","in":"query","description":"Si 'true', retourne tous les documents, si 'false' ou pas spécifié, seuls les documents pour lesquels sante_additionnel est à 'false' sont retournés.","required":false,"schema":{"type":"boolean"},"example":true},{"name":"isMandatRia","in":"query","description":"Filtre les documents de mandat RIA. Si 'true', on retourne uniquement dont le type est flaggé \"RIA\", si 'false', on retourne tous les documents \"non-RIA\", si non-spécifié, on retourne tout","required":false,"schema":{"type":"boolean"},"example":true},{"name":"idEtudeMutex","in":"query","description":"Permet d'appeler Mutex si ce champ est rempli","required":false,"schema":{"type":"string"},"example":"eeebbb01-61a4-4443-9006-77d2b4c78f94"},{"name":"isOptionHm","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Les documents ont été trouvés et retournés","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocumentEncapsulationDTO"}}}},"400":{"description":"Une donnée est manquante","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"404":{"description":"Il n'y a pas d'offre correspondant à ce code","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/soprano-integration-fichiers-batch":{"get":{"tags":["soprano-batch-controller"],"operationId":"jobImportScenario","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/v2/referentiels-pe/type-pre-engagement":{"get":{"tags":["Gestion des données"],"operationId":"findAllTypePreEngagement","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v2/referentiels-pe/libelle-type-pre-engagement":{"get":{"tags":["Gestion des données"],"operationId":"findAllTypePreEngagementByLibelleType","parameters":[{"name":"typePreEngagement","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReferentielPreEngagementDTO"}}}}}}},"/v2/referentiels-offre/types-param-offre":{"get":{"tags":["referentiel-offre-controller"],"operationId":"findAllTypeParamOffreByCategorie","parameters":[{"name":"categorie","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReferentielTypeOffreDTO"}}}}}}}},"/v2/referentiels-offre/type-param-offre":{"get":{"tags":["referentiel-offre-controller"],"operationId":"findTypeParamOffreByLibelle","parameters":[{"name":"libelle","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReferentielTypeOffreDTO"}}}}}}},"/v2/referentiel-soprano/unites":{"get":{"tags":["Récupération des données référentiel Soprano"],"description":"Retourne les unités","operationId":"getUnites","responses":{"200":{"description":"Liste des unités retournée avec succès","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UniteDTO"}}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/referentiel-soprano/types-offre":{"get":{"tags":["Récupération des données référentiel Soprano"],"description":"Retourne les types offre","operationId":"getRefTypesOffre","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Liste des domaines offre retournée avec succès","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RefTypeOffreDTO"}}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/referentiel-soprano/types-documents":{"get":{"tags":["Récupération des données référentiel Soprano"],"description":"Retourne les types de documents","operationId":"getTypeDocuments","responses":{"200":{"description":"Liste des types de documents retournée avec succès","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TypeDocumentDTO"}}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/referentiel-soprano/type-tarifs":{"get":{"tags":["Récupération des données référentiel Soprano"],"description":"Retourne les types de tarifs","operationId":"getTypeTarifs","responses":{"200":{"description":"Liste des types de tarifs retournée avec succès","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TypeTarifLightDTO"}}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/referentiel-soprano/taxes":{"get":{"tags":["Récupération des données référentiel Soprano"],"description":"Retourne les taxes","operationId":"getTaxes","responses":{"200":{"description":"Liste des taxes retournée avec succès","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaxeDTO"}}}}},"500":{"description":"Problème interne","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HmHttpException"}}}}}}},"/v2/referentiel-soprano/structures-tarifaires":{"get":{"tags":["Récupération des données référentiel Soprano"],"description":"Retourne les structures tarifaires selon les critères précisés en paramètres. **Remarque** : ilfaut au moins préciser:   - le code/id de la structure tarifaire   - le code/id de la présentation tarifaire   - le code/id du critèrestructure tarifaire, ","operationId":"getStructuresTarifairesMultiCriteres","parameters":[{"name":"codeStructureTarifaire","in":"query","description":"Code de la structure tarifaire","required":false,"schema":{"type":"string"},"example":"CTB003"},{"name":"idStructureTarifaire","in":"query","description":"ID de la structure tarifaire","required":false,"schema":{"type":"integer","format":"int64"},"example":20},{"name":"codePresentationTarifaire","in":"query","description":"Code de la présentation tarifaire","required":false,"schema":{"type":"string"},"example":"P-CTB003-005"},{"name":"idPresentationTarifaire","in":"query","description":"ID de la présentation tarifaire","required":false,"schema":{"type":"integer","format":"int64"},"example":1067},{"name":"codeCritere","in":"query","description":"Code du critère","required":false,"schema":{"type":"string"},"example":"CTB003"},{"name":"idCritere","in":"query","description":"ID du critère","required":false,"schema":{"type":"integer","format":"int64"},"example":379},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"st
[...]
